div.row
    div.col-sm-6
        div.well
            h3
                span(class="fa fa-user")
                | Local
            p
                strong id
                | : #{user._id}
                br
                strong Username
                | : #{user.local.username}
